@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kode+Mono:wght@400..700&display=swap');

:root {
  --text: #bbbbbb;
  --background: #161617;
  --background-light: #1f1f20;
  --primary: #342ed0;
  --secondary: #817df6;
  --accent: #342ED0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--background);
  color: var(--text)
}

.container {
  display: flex;
  flex-direction: row
  
}